
html {
    font-size: 22px;
}
body{
    background-color: whitesmoke;
    color: black;
}

a{
    color: rgb(9, 48, 82);
}

a:visited{
    color: rgb(221, 121, 121);
}
a:hover, a:active{
    color: rgba(138, 55, 55, 0.933);
}